* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div1{
    display: block;
}

.img{
    position: static;
    width: 354px;
    height: 317px;
    top: -1218px;
    left: -1717px;
    margin: 30px;
}
.div2{
   display: block;
}

.h1{
    font-weight: 900;
    width: 263px;
    height: 52px;
    top: -877px;
    left: -1667px;
    line-height: 60.95px;
    color: #515151;
    text-align: center;
}

.h2{
    font-weight: 500;
    line-height: 36.57px;
    width: 232px;
    width: 232px;
    height: 37px;
    top: -818px;
    left: -1652px;
    color: #515151;
    text-align: center;
}

.p{
    display: none;
}

.button{
    width: 239px;
    height: 64px;
    top: -764px;
    left: -1655px;
    background: #ADFF00;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
}

button:hover {
    opacity: 0.8;}

    button:active {
        opacity: 0.5;
    }

    @media screen and (min-width:780px){

        .div1{
            display: flex;
            flex-direction: column;
            position: static;
            width: 50%;
            height: 100vh;
            margin-left: 25px;
            margin-top: 5vh;
        }

        .header {
            width: 108px;
            height: 29px;
            top: 13px;
            margin-bottom: 20px;
            left: -2776px;
            margin-right: 44px;
            
        }

        .button1{
            border-radius: 50px;
            border: 1px solid #120977;
            background: #665AE1;
            border: 0;
            cursor: pointer;
            font-weight: 600;
            width: 130px;
            height: 41px;
            font-weight: 500;
            font-size: 16px;
            line-height: 29px;
            letter-spacing: 1px;
            color: #ffffff;
        }

        .button1:hover {
            opacity: .8;}

        .button1:active {
            opacity: .5;
        }

        .img{
            width: 560px;
            height: 455px;
            position: absolute;
            display: inline-block;
            margin: 163px 0 0 23px;
        }

        .div2{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-left: 55vw;
            margin-top: -525px;
        }

       

        .p{
            width: 515px;
            height: 87px;
            top: -926px;
            left: -2437px;
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: 0em;
            text-align: left;
            color: #848484;
            display: block;
            text-align: justify;
        }

        .button{
           margin-top: 60px;

        }

        

    }


